<a href="https://colab.research.google.com/github/ToddWi/Python/blob/main/py04_iteration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# for 반복문

```
for 변수 in iterable_type:
  반복해서 실행할 코드 블록
```

* iterable_type: 반복가능한 타입
  * range, list, tuple, dict, set, str, ...
* `range()` 함수:
  * `range(stop)`: 0 <= x < stop 범위의 1씩 증가하는 정수들을 차례로 반환.
  * `range(start, stop)`: start <= x < stop 범위의 1씩 증가하는 정수들을 차례로 반환.
  * `range(start, stop, step)`:
    * step > 0: start <= x < stop 범위의 step 만큼씩 증가하는 정수들을 차례로 반환.
    * step < 0: start >= x > stop 범위의 step 만큼씩 감소하는 정수들을 차례로 반환.

In [ ]:
for x in range(5):
    print(x)

0
1
2
3
4

In [ ]:
for x in range(1, 3):
  print(x)

1
2

In [ ]:
for x in range(0, 11, 2):
  print(x)

0
2
4
6
8
10

In [ ]:
for x in range(10, 0, -2):
    print(x)

10
8
6
4
2

#  중첩 반복문

```
  for x in iterable1:
    for y in iterable2:
        코드 블록

In [ ]:
for x in range(2, 10, 1):
  for y in range(1, 10, 1):
    print(f'{x} x {y} =  {x * y}')
  print('-' * 10)

2 x 1 =  2
2 x 2 =  4
2 x 3 =  6
2 x 4 =  8
2 x 5 =  10
2 x 6 =  12
2 x 7 =  14
2 x 8 =  16
2 x 9 =  18
----------
3 x 1 =  3
3 x 2 =  6
3 x 3 =  9
3 x 4 =  12
3 x 5 =  15
3 x 6 =  18
3 x 7 =  21
3 x 8 =  24
3 x 9 =  27
----------
4 x 1 =  4
4 x 2 =  8
4 x 3 =  12
4 x 4 =  16
4 x 5 =  20
4 x 6 =  24
4 x 7 =  28
4 x 8 =  32
4 x 9 =  36
----------
5 x 1 =  5
5 x 2 =  10
5 x 3 =  15
5 x 4 =  20
5 x 5 =  25
5 x 6 =  30
5 x 7 =  35
5 x 8 =  40
5 x 9 =  45
----------
6 x 1 =  6
6 x 2 =  12
6 x 3 =  18
6 x 4 =  24
6 x 5 =  30
6 x 6 =  36
6 x 7 =  42
6 x 8 =  48
6 x 9 =  54
----------
7 x 1 =  7
7 x 2 =  14
7 x 3 =  21
7 x 4 =  28
7 x 5 =  35
7 x 6 =  42
7 x 7 =  49
7 x 8 =  56
7 x 9 =  63
----------
8 x 1 =  8
8 x 2 =  16
8 x 3 =  24
8 x 4 =  32
8 x 5 =  40
8 x 6 =  48
8 x 7 =  56
8 x 8 =  64
8 x 9 =  72
----------
9 x 1 =  9
9 x 2 =  18
9 x 3 =  27
9 x 4 =  36
9 x 5 =  45
9 x 6 =  54
9 x 7 =  63
9 x 8 =  72
9 x 9 =  81
----------

문자열에서 사용 가능한 산술 연산자:

* 문자열 `+` 문자열: 문자열 이어붙이기(concatenate)
* 문자열 `*` 정수: 문자열 반복해서 복사하기

# break와 continue

* `break`: 반복(iteration)을 종료. break가 포함된 가장 가까운 반복문을 빠져나옴.
* `continue`: 반복문 내부의 실행을 멈추고, 그 다음 iteration을 계속해서 수행.

In [ ]:
for x in range(5): # (0, 1, 2, 3, 4)
    if x == 2:
        break
    print(x)

0
1

In [ ]:
for x in range(5):
    if x == 2:
        continue
    print(x)

0
1
3
4

다음과 같이 출력.

In [ ]:
for x in range(2, 6):
  for y in range(1, 6):
    print(f'{x} * {y} = {x * y}')
    if y == x:
      break
  print('-' * 10)

2 * 1 = 2
2 * 2 = 4
----------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
----------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
----------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
----------