<a href="https://colab.research.google.com/github/ToddWi/Python/blob/main/py05_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# list

*  여러 개의 값들을 하나의 변수에 저장하기 위한 데이터 타입.
*  element(원소, 요소): 리스트에 저장되는 각각의 값.
*  index(인덱스): 리스트에서 원소가 저장된 위치
    *  리스트의 인덱스는 **0**부터 시작.
    *  리스트의 마지막 인덱스는 (원소 개수 - 1).
*  리스트는 원소들을 추가, 삭제, 변경할 수 있음.
    *  `tuple`과 다른 점!

In [ ]:
# 숫자들을 저장하는 리스트
numbers = [1, 2, 3, 10, 20, 30]
numbers

[1, 2, 3, 10, 20, 30]

# 인덱싱(indexing)

인덱스를 사용해서 리스트의 원소를 참조하는 방법.

In [ ]:
numbers[0]  # 리스트 numbers의 인덱스 0 위치의 원소

1

In [ ]:
numbers[5]  # 리스트 numbers의 인덱스 5 위치의 원소

30

In [ ]:
numbers[-1]  # 리스트에서 가장 마지막 원소

30

In [ ]:
numbers[-6]

1

# slicing

인덱스를 사용해서 리스트의 부분집합(리스트)를 잘라내는 방법.

`list[start:end]`

*  start <= index < end 범위의 인덱스 위치의 원소들을 잘라냄.
*  start를 생략한 경우에는 첫번째 원소부터 잘라냄.
    *  `list[0:5]`과 `list[:5]`는 같은 결과.
*  end를 생략한 경우에는 마지막 원소까지 잘라냄.
*  리스트를 slicing한 결과는 또다른 새로운 **리스트**.

In [ ]:
numbers

[1, 2, 3, 10, 20, 30]

In [ ]:
numbers[1:4]  # 1 <= index < 4

[2, 3, 10]

In [ ]:
numbers[3:6]

[10, 20, 30]

In [ ]:
numbers[3:]

[10, 20, 30]

In [ ]:
numbers[:3] # 리스트에서 앞에서 3개를 선택

[1, 2, 3]

In [ ]:
numbers[-3:]  # 리스트에서 뒤에서 3개

[10, 20, 30]

In [ ]:
numbers[0:1]  # slicing -> 리스트

[1]

In [ ]:
numbers[0]  # indexing -> 값(숫자)

1

# 문자열(str)

*  문자들의 *리스트*.
*  문자열은 인덱스를 사용할 수 있음.
    *  indexing, slicing 가능.

In [ ]:
message = '안녕하세요, 여러분!'  # 11개의 문자들로 이루어진 리스트.

In [ ]:
message[0]  # 문자열에서 첫번째 문자

'안'

In [ ]:
message[-1]  # 문자열에서 마지막 문자

'!'

In [ ]:
message[:3]  # 문자열에서 앞에서 3글자

'안녕하'

In [ ]:
message[-3:]  # 문자열에서 뒤에서 3글자

'러분!'

In [ ]:
# 문자열 산술 연산: +, *
print('hello' + 'python')
print('hello' * 3)

hellopython
hellohellohello

# 리스트의 산술 연산

*  `list + list`
*  `list * int` 또는 `int * list`

In [ ]:
[1, 2, 3] + [4, 5, 6]  # concatenate

[1, 2, 3, 4, 5, 6]

In [ ]:
[1, 2, 3] * 3  # replicate

[1, 2, 3, 1, 2, 3, 1, 2, 3]

# list와 for 반복문

In [ ]:
for x in 'hello':
    print(x)

h
e
l
l
o

In [ ]:
numbers = [1, 10, 5, 100]
for x in numbers:
    print(x)

1
10
5
100

In [ ]:
for i in range(len(numbers)):  # 0 <= x < len
    print(i, ':', numbers[i])

0 : 1
1 : 10
2 : 5
3 : 100

In [ ]:
for i, v in enumerate(numbers):
    print(i, ':', v)

0 : 1
1 : 10
2 : 5
3 : 100

In [ ]:
numbers1 = [1, 2, 3]
numbers2 = [10, 11, 12]
# numbers1과 numbers2의 같은 인덱스의 원소들끼리의 합을 원소로 갖는 리스트
# [11, 13, 15]

In [ ]:
result = []  # 빈(empty) 리스트
for i in range(len(numbers1)):  # 0 <= i < len
    result.append(numbers1[i] + numbers2[i])

result

[11, 13, 15]

In [ ]:
result = []
for x, y in zip(numbers1, numbers2):
    result.append(x + y)

result

[11, 13, 15]

파이썬에 난수를 만드는 방법:

In [ ]:
import random  # random 모듈을 임포트

In [ ]:
# random 모듈의 random() 함수를 호출
random.random()  # [0, 1) 범위(0 <= x < 1)의 실수 난수를 리턴.

0.8939186766803828

In [ ]:
# random 모듈의 randrange() 함수를 호출
random.randrange(3)  # [0, 3) 범위의 정수 난수를 리턴.

0

In [ ]:
random.randrange(1, 4)  #[1, 4) 범위의 정수 난수를 리턴.

1

# Exercises

## Ex 1.

1. 빈 리스트를 생성.
1. 1 이상 10 이하의 정수 난수 5개를 저장.
1. 리스트의 모든 정수들의 합을 출력.
1. 리스트의 모든 정수들의 평균을 출력.

In [ ]:
import random
numbers = []
for _ in range(5):
    numbers.append(random.randrange(1, 11))

print(numbers)

numbers2 = [random.randrange(1,11) for _ in range(10)]
numbers2

[1, 1, 10, 8, 7]

[8, 4, 8, 5, 10, 10, 9, 10, 8, 9]

In [ ]:
sum(numbers)

19

In [ ]:
total = 0
for x in numbers:
    total += x;

print(f'total = {total}')

total = 19

In [ ]:
average = total / len(numbers)
print(f'average = {average}')

average = 3.8

## Ex 2.

1. 빈 리스트(numbers)를 생성.
1. 10 이상, 100 미만의 정수 난수 10개를 numbers에 저장.
1. numbers에서 짝수들만 선택해서 evens 리스트를 만들고 출력.
1. numbers에서 홀수들만 선택해서 odds 리스트를 만들고 출력.

In [ ]:
numbers = []
for _ in range(10):
    numbers.append(random.randrange(10, 100))

numbers

numbers2 = [random.randrange(10, 100) for _ in range(10)]
numbers2

TypeError: ignored

In [ ]:
evens = []  # 짝수들을 저장할 빈 리스트
odds = []  # 홀수들을 저장할 빈 리스트
for x in numbers:  # 리스트 numbers의 원소들을 순서대로 반복하면서
    if x % 2:  # 리스트에서 찾은 값을 2로 나눈 나머지가 있으면(홀수이면)
        odds.append(x)
    else:
        evens.append(x)

print(f'evens = {evens}')
print(f'odds = {odds}')

mix = list(zip (evens, odds))
print(mix)

evens = [48, 74, 94, 28, 26]
odds = [39, 15, 13, 41, 47]
[(48, 39), (74, 15), (94, 13), (28, 41), (26, 47)]

## Ex 3.

1. 빈 리스트 numbers를 만듦.
1. -10 이상 10 이하인 범위의 정수 난수 10개를 numbers에 저장.
1. numbers의 원소가 양수이면 True, 그렇지 않으면 False를 저장하는 is_positive 리스트를 만들고 출력.

In [ ]:
numbers = []
for _ in range(10):
    numbers.append(random.randrange(-10, 11))

numbers

[-6, -9, 7, 0, -8, -2, -6, -2, 2, 1]

In [ ]:
is_positive = []
for x in numbers:
    if x > 0:
        is_positive.append(True)
    else:
        is_positive.append(False)

is_positive

[False, False, True, False, False, False, False, False, True, True]

## Ex 4.

1. gender_codes 리스트에 0 또는 1을 랜덤하게 10개를 저장.
1. gender_codes의 값이 0이면 'Male', 그렇지 않으며 'Female'을 저장하는 genders 리스트를 만들고 출력.

In [ ]:
gender_codes = []
for _ in range(10):
    gender_codes.append(random.randrange(0, 2))

gender_codes

[1, 1, 1, 0, 0, 1, 1, 0, 0, 1]

In [ ]:
genders = []
for x in gender_codes:
    if x == 0:
        genders.append('Male')
    else:
        genders.append('Female')

genders

['Female',
 'Female',
 'Female',
 'Male',
 'Male',
 'Female',
 'Female',
 'Male',
 'Male',
 'Female']

## Ex 5.

1. `numbers1`: 100 미만의 정수 난수 10개를 저장하는 리스트.
1. `numbers2`: 100 미만의 정수 난수 10개를 저장하는 리스트.
1. `multiplication`: `numbers1`과 `numbers2`의 같은 인덱스에 있는 원소들끼리의 곱셈 결과를 저장하는 리스트.
1. `subtraction`: `numbers1`의 원소에서 같은 인덱스에 있는 `numbers2`의 원소를 뺀 값을 저장하는 리스트.

`numbers1`, `numbers2`, `multiplication`, `subtraction`를 출력.

In [ ]:
numbers1 = []
numbers2 = []
for _ in range(10):
    numbers1.append(random.randrange(100))
    numbers2.append(random.randrange(100))

print(f'numbers1 = {numbers1}')
print(f'numbers2 = {numbers2}')

numbers1 = [5, 3, 80, 84, 42, 12, 92, 63, 13, 92]
numbers2 = [88, 95, 16, 52, 12, 13, 94, 46, 66, 88]

In [ ]:
multiplication = []
subtraction = []
for x, y in zip(numbers1, numbers2):
    multiplication.append(x * y)
    subtraction.append(x - y)

print(f'multiplication = {multiplication}')
print(f'subtraction = {subtraction}')

multiplication = [440, 285, 1280, 4368, 504, 156, 8648, 2898, 858, 8096]
subtraction = [-83, -92, 64, 32, 30, -1, -2, 17, -53, 4]

# List Comprehension
1 ~ 10 정수들을 순서대로 리스트에 저장: [1, 2, 3, ..., 9, 10]

In [ ]:
numbers = []
for x in range(1, 11):
    numbers.append(x)

numbers

NameError: ignored

In [ ]:
numbers = [x for x in range(1, 11)]
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# [1, 4, 9, 16, ..., 81, 100]
squares = [x ** 2 for x in range(1, 11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# [0, 10) 범위의 난수 10개를 저장하는 리스트
numbers = [random.randrange(10) for _ in range(10)]
numbers

[6, 3, 1, 7, 8, 3, 1, 4, 6, 2]

## Ex.1

In [ ]:

numbers = [random.randrange(1, 11) for _ in range(5)]
print(f'numbers = {numbers}')

total = 0
for x in numbers:
    total += x
print(f'total = {total}')

average = total / len(numbers)
print(f'averae = {average}')

numbers = [3, 4, 4, 6, 6]
total = 23
averae = 4.6

## Ex.2
1. 빈 리스트(numbers)를 생성.
2. 10 이상, 100 미만의 정수 난수 10개를 numbers에 저장.
3. numbers에서 짝수들만 선택해서 evens 리스트를 만들고 출력.
4. numbers에서 홀수들만 선택해서 odds 리스트를 만들고 출력.

In [ ]:
numbers = [random.randrange(10, 100) for _ in range(10)]
print(f'numbers = {numbers}')

evens = [x for x in numbers if x % 2 == 0]
print(f'evens = {evens}')

odds = [x for x in numbers if x % 2]
print(f'odds = {odds}')

# mapping [value1 if condition else value2 for x in iterable]

numbers = [97, 52, 81, 28, 81, 37, 25, 24, 35, 22]
evens = [52, 28, 24, 22]
odds = [97, 81, 81, 37, 25, 35]

## Ex3

In [ ]:
x = 1
is_positive = True if x > 0 else False # 삼항연산자

is_positive

True

In [ ]:
numbers = [random.randrange(-10, 11) for _ in range(10)]
print(f'numbers={numbers}')

is_positive = [True if x > 0 else False for x in numbers]
print(f'is_positive = {is_positive}')

numbers=[-5, 4, -1, -6, 3, -10, 9, -10, 0, 10]
is_positive = [False, True, False, False, True, False, True, False, False, True]

## Ex.4

1. gender_codes 리스트에 0 또는 1을 랜덤하게 10개를 저장.
1. gender_codes의 값이 0이면 'Male', 그렇지 않으며 'Female'을 저장하는 genders 리스트를 만들고 출력.

In [ ]:
gender_codes = [random.randrange(2) for _ in range(10)]
gender_codes

genders = ['Male' if x == 0 else 'Female' for x in gender_codes]
print(f'genders= {genders}')

genders= ['Female', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male']

## Ex.5
1. `numbers1`: 100 미만의 정수 난수 10개를 저장하는 리스트.
1. `numbers2`: 100 미만의 정수 난수 10개를 저장하는 리스트.
1. `multiplication`: `numbers1`과 `numbers2`의 같은 인덱스에 있는 원소들끼리의 곱셈 결과를 저장하는 리스트.
1. `subtraction`: `numbers1`의 원소에서 같은 인덱스에 있는 `numbers2`의 원소를 뺀 값을 저장하는 리스트.

`numbers1`, `numbers2`, `multiplication`, `subtraction`를 출력.

In [ ]:
numbers1 = [random.randrange(100) for _ in range(10)]
numbers2 = [random.randrange(100) for _ in range(10)]
print(f'numbers1={numbers1}')
print(f'numbers2={numbers2}')

multiplication = [x * y for x, y in zip(numbers1, numbers2)]
print(f'multiplication={multiplication}')

substraction = [x - y for x, y in zip(numbers1, numbers2)]
print(f'substracion={substraction}')

numbers1=[70, 51, 37, 33, 88, 48, 54, 79, 99, 33]
numbers2=[42, 35, 15, 27, 2, 5, 96, 17, 48, 20]
multiplication=[2940, 1785, 555, 891, 176, 240, 5184, 1343, 4752, 660]
substracion=[28, 16, 22, 6, 86, 43, -42, 62, 51, 13]

In [ ]:
gender_codes = [1, 2, 1, 2, 3]
# 1 -> 'M', 2 -> 'F', 3 -> 'Unknown' mapping
genders = ['M' if x == 1 else ('F' if x == 2 else 'UnKnown') for x in gender_codes ]
print(f'genders={genders}')

genders=['M']

In [1]:
print('test')

test