<a href="https://colab.research.google.com/github/ToddWi/Python/blob/main/py06_tuple_set_dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# tuple(튜플)

* 하나의 변수에 여러 개의 값들을 저장하기 위한 자료 타입.
* 저장된 원소(아이템)들을 변경할 수 없는 리스트.
  * `append()`, `remove()`와 같은 원소를 변경하는 메서드(기능)은 제공하지 않음.
* 인덱스 기반 자료 타입
  * indexing, slicing
  * 음수 인덱스도 사용 가능

In [ ]:
# 숫자들을 저장하는 튜플
numbers = (1, 2, 10, 20, 100, 200)
numbers

(1, 2, 10, 20, 100, 200)

In [ ]:
type(numbers)

tuple

indexing: 인덱스를 사용해서 원소 1개를 참조하는 방법

In [ ]:
numbers[0] #튜플의 첫번째 원소

1

In [ ]:
numbers[-1] # 튜플의 마지막 원소

200

slicing: 자르기, 부분집합 만들기.

In [ ]:
numbers[:3]# 튜플에서 첫 3개의 원소들을 잘라내기

(1, 2, 10)

In [ ]:
numbers[-3:]# 튜플에서 마지막 3개의 원소들을 잘라내기.

(20, 100, 200)

decomposition 분해

In [ ]:
odds = (1, 3, 5)
a = odds[0]
b = odds[1]
c = odds[2]
print(a, b, c)

1 3 5

In [ ]:
x, y, z = (1, 3, 5)

tuple & for

In [ ]:
for x in odds:
    print(x)

1
3
5

## 2차원 리스트/튜플

In [ ]:
numbers = [
    [1, 2, 3],
    [4, 5, 6]
]
numbers

[[1, 2, 3], [4, 5, 6]]

In [ ]:
1. len(numbers) # 2차원 리스트 numbers의 원소 개수

[[4, 5, 6]]

1. 2x2 모양의 [0, 10) 범위의 정수 난수들을 저장하는 2차원 리스트를 만들고 출력
1. 2x2 모양의 [0, 10) 범위의 정수 난수들을 저장하는 2차원 array2를 만들고 출력
1. array1과 array2의 같은 인덱스의 원소들끼리의 덧셈 결과를 저장하는 2차원 리스트add를 만들고 출력

In [ ]:
import random

array1 = [] # 1차원 리스트들을 저장할 빈 리스트.
for _ in range(2): # 2번 반복
    row = [] # 난수들을 저장할 빈 리스트.
    for _ in range(2): # 2번 반복
      row.append(random.randrange(10)) # 난수를 row에 추가
    array1.append(row) # 난수 2개를 갖는 1차원 리스트 2개를 array1에 추가
array1

[[7, 7], [6, 5]]

In [ ]:
array2 = [[random.randrange(10) for _ in range(2)]
          for _ in range(2)]
print(f'array2={array2}')
add =[]
for row1, row2 in zip(array1, array2):
    print(f'row1={row1}, row2= {row2}')
    temp = []
    for x, y in zip(row1, row2):
        print(f'x={x}, y= {y}')
        temp.append(x + y)
add

array2=[[5, 6], [5, 5]]
row1=[7, 7], row2= [5, 6]
x=7, y= 5
x=7, y= 6
row1=[6, 5], row2= [5, 5]
x=6, y= 5
x=5, y= 5

[]

In [ ]:
[[x + y for x, y in zip(row1, row2)]
 for row1, row2 in zip(array1, array2)]

[[12, 10], [13, 8]]

In [ ]:
a1 = [[random.randrange(10) for _ in range(2)]for _ in range(2)]
a1
a2 = [[random.randrange(10) for _ in range(2)] for _ in range(2)]

add = [[row1, row2 for row1, row2 in zip (a1, a2)] for x, y in zip(a1, a2)]
add

SyntaxError: ignored

# Set(집합)

* 중복된 데이터를 허용하지 않음: `{1, 2, 2, 3, 3} = {1, 2, 3}`
* 인덱스 기반의 자료 구조가 아님. 인덱스가 없음.
  * 데이터의 저장 순서가 중요하지 않음: `{1, 2, 3} = {3, 1, 2}`
  * indexing, slicing 기능을 제공하지 않음,
  * for-in 구문에서 사용할 수 있는 iterable 타입.

In [ ]:
s = {1, 2, 2, 3, 3}
s

{1, 2, 3}

## set의 기능(메서드)

In [ ]:
s

{1, 2, 3}

In [ ]:
s.add(5) # set에 원소 추가
s

{1, 2, 3, 5}

In [ ]:
s.remove(2) # set의 원소를 삭제. 삭제할 원소를 아규먼트로 전달
s

{1, 5}

In [ ]:
s.pop()
s

{5}

In [ ]:
s1 = {1, 2, 3, 4}
s2 = {2, 3, 5, 6}

In [ ]:
s1.union(s2) # 합집합

{1, 2, 3, 4, 5, 6}

In [ ]:
s1.intersection(s2) # 교집합

{2, 3}

In [ ]:
s1.difference(s2) # 차집합 s1-s2

{1, 4}

# dict

* dictionary(사전) 형식의 데이터 타입.
* 키(key)를 기반으로 값(value)를 저장하는 데이터 타입.
  * list, tuple: 인덱스 기반의 데이터 타입.
  * dict: key-value 기반의 데이터 타입
  * dict에서 key의 역할은 1개 아이템의 값(value)를 찾기 위한 용도.

In [ ]:
students = {1: '홍길동', 2: '허균', 3: '오쌤'}
students
type(students)

dict

`dict`에서 키를 사용하는 방법은 `list` 또는 `tuple`과 마찬가지로 인덱스 연산자 (`[]`)를 사용함.

In [ ]:
students[1] # dict에서 key가 1인 아이템의 value

'홍길동'

In [ ]:
students[10] = '홍길동' # dict에 새로운 key-value 아이템을 추가
students

{1: '홍길동', 2: '허균', 3: '오쌤', 10: '홍길동'}

In [ ]:
students[3] = 'scott'
students

{1: '홍길동', 2: '허균', 3: 'scott', 10: '홍길동'}

In [ ]:
students.pop(3)

KeyError: ignored

In [ ]:
book = {
    'title': '점프 투 파이썬',
    'authors': ['박응용', '웨스 매키니'],
    'isbn': 123456789

}
book

{'title': '점프 투 파이썬', 'authors': ['박응용', '웨스 매키니'], 'isbn': 123456789}

In [ ]:
book['title']

'점프 투 파이썬'

In [ ]:
contact = {
    'no': 1,
    'name': '오쌤',
    'phones': ['010-0000-0000', '02-0000-0000'],
    'emails': {
        'company': 'asd@gmail.com',
        'personal': 'abc@naver.com'
    }

}
contact

{'no': 1,
 'name': '오쌤',
 'phones': ['010-0000-0000', '02-0000-0000'],
 'emails': {'company': 'asd@gmail.com', 'personal': 'abc@naver.com'}}

In [ ]:
for k in contact:
    print(k)

no
name
phones
emails

for-in 구문에서 dict를 사용하면 키(key)를 iteration함!

In [ ]:
for k in contact:
    print(k, ':', contact[k])

no : 1
name : 오쌤
phones : ['010-0000-0000', '02-0000-0000']
emails : {'company': 'asd@gmail.com', 'personal': 'abc@naver.com'}

In [ ]:
contact.keys()

dict_keys(['no', 'name', 'phones', 'emails'])

In [ ]:
contact.values() # dict의 value들의 리스트를 리턴.

dict_values([1, '오쌤', ['010-0000-0000', '02-0000-0000'], {'company': 'asd@gmail.com', 'personal': 'abc@naver.com'}])

In [ ]:
contact.items()
# dict에서 (key, value) 튜플들의 리스트를 리턴.
# 배열() 튜플[], dict{}

dict_items([('no', 1), ('name', '오쌤'), ('phones', ['010-0000-0000', '02-0000-0000']), ('emails', {'company': 'asd@gmail.com', 'personal': 'abc@naver.com'})])

In [ ]:
for k, v in contact.items():
  print(k, v)

no 1
name 오쌤
phones ['010-0000-0000', '02-0000-0000']
emails {'company': 'asd@gmail.com', 'personal': 'abc@naver.com'}

In [ ]:
emp_no = [1001, 1002, 2001, 2002] # 직원 번호
emp_name = ['king', 'scott', 'Allen', 'Tiger'] # 직원 이름

In [ ]:
# emp_no를 key로 하고, emp_name을 값으로 하는 dict를 만들고 출력
emp = {}
for no, name in zip(emp_no, emp_name):
    emp[no] = name
emp

{1001: 'king', 1002: 'scott', 2001: 'Allen', 2002: 'Tiger'}

In [ ]:
{no: name for no, name in zip(emp_no, emp_name)}

{1001: 'king', 1002: 'scott', 2001: 'Allen', 2002: 'Tiger'}

In [ ]:
strings = ['hello', 'java', 'sql', 'python', 'javascript']
# 리스트 strings의 문자열을 키로 하고, 그 문자열의 길이를 값으로 하는 dict를 만들고 출력
string_lengths = {}

for s in strings: # strings에서 원소들을 차례로 반복하면서
    string_lengths[s] = len(s) # 문자열 (key)-길이(value) 아이템을 dict에 추가

string_lengths

{'hello': 5, 'java': 4, 'sql': 3, 'python': 6, 'javascript': 10}

In [ ]:
{k: len(k) for k in strings}

{'hello': 5, 'java': 4, 'sql': 3, 'python': 6, 'javascript': 10}