<a href="https://colab.research.google.com/github/ToddWi/Python/blob/main/py07_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Function(함수)

* function(함수): 기능을 수행하는 코드 블록.
* argument: 함수를 호출하는 곳에서 함수에게 전달하는 값.
* parameter: argument를 저장하기 위해서 함수 선언부에서 선언하는 지역 변수.
* return value: 함수가 기능의 수행 결과로 리턴하는 값.
  * return value가 있는 함수
  * return value가 없는 함수
* 파이썬 함수 정의 방법:
  ```
  def function_name([param, ...]):
      ["""문서화 주석 - 함수 기능 설명, 파라미터 설명, 리턴 값 설명"""]
      함수 기능 구현
      [return 값]
  ```
  * return value가 없는 경우에,
    * return 문장을 생략.
    * return None 명시할 수도 있음

In [ ]:
def subtract(x, y): # x, y를 파라미터
  """ 2개의 숫자 x, y를 전달받아서 x-y 결과를 리턴하는 함수.
  """
  return x - y

In [ ]:
result = subtract(1, 2) # 1, 2를 아규먼트라고 한다
result

-1

In [ ]:
def repeat_message(message, n):
  """문자열(message)과 양의 정수(n)을 전달받아서, message를 n번 출력하는 함수
  """
  for _ in range(n):
      print(message)

  return None
  # 리턴 값이 없으면 보통 return문을 생략하지만, return None으로 명시하기도 함.

In [ ]:
repeat_message('안녕하세요',3)

안녕하세요
안녕하세요
안녕하세요

## Ex1.
  * 함수 이름: make_list
  * 기능: start 이상 end 미만의 정수 난수 n개를 갖는 리스트를 반환하는 함수.

In [ ]:
import random
def make_list(start, end, n):
  numbers = [random.randrange(start, end) for _ in range(n)]

  return numbers

In [ ]:
result = make_list(1, 10, 3)
result

[1, 9, 7]

Ex 2.
  * 함수 이름: calc_sum
  * 기능: 숫자들의 리스트를 전달받아서, 리스트의 모든 원소들의 합을 리턴하는 함수

In [ ]:
def calc_sum(num_list):
    total = 0
    for z in num_list:
        total += z

    return total

In [ ]:
numbers = make_list(0, 10, 5)
print(numbers)
total = calc_sum(numbers)
print(total)

[7, 6, 6, 1, 2]
22

Ex 3.
함수 이름: calc_mean
기능: 숫자들의 리스트를 전달받아서, 리스트의 원소들의 평균을 리턴하는 함수.

In [ ]:
def calc_mean(num_list):
    mean = calc_sum(num_list) / len(num_list)
    return mean

In [ ]:
calc_mean(numbers)

4.4

함수 이름: calc_var
기능: 숫자들의 리스트를 전달받아서, 리스트의 원소들의 분산(variance)을 리턴하는 함수.
분산 = (값 - 평균)**2 들의 평균

In [ ]:
def calc_var():
  mean - calc_mean(num_list)
  squares = [(x - mean) ** 2 for x in num_list]
  variance = calc_mean(squares)
  return variance

In [ ]:
calc_var(numbers)0

SyntaxError: ignored

파이썬은 2개 이상의 값을 리턴하는 함수를 정의할 수 있음. 함수를 호출한 곳에서는 리턴 값을 튜플로 취급하면 됨.

In [ ]:
def plus_and_minus(x, y):
    return x + y, x - y

In [ ]:
result = plus_and_minus(1, 2)
result

(3, -1)

In [ ]:
plus, minus = plus_and_minus(1, 2)
print(plus, minus)

3 -1

숫자들의 리스트를 전달받아서, 최댓값과 최솟값을 리턴하는 함수를 정의.

In [ ]:
def find_max_and_min(num_list):
    max = num_list[0]
    min = num_list[0]
    for x in num_list:
      if max < x:
        max = x
      if min > x:
        min = x
    return max, min

In [ ]:
numbers = make_list(0, 100, 10)
print(numbers)
max, min = find_max_and_min(numbers)
print(f'max = {max}, min = {min}')

[89, 65, 91, 74, 38, 52, 27, 88, 15, 5]
max = 91, min = 5

숫자들의 리스트를 전달받아서 치댓값과 최댓값의 인덱스(위치)를 리턴하는 함수를 정의. 최댓값이 2개 이상인 경우, 먼저 나오는 값을 리턴

In [ ]:
def find_max_and_index(num_list):
  max = num_list[0]
  max_index = 0
  for i, v in enumerate(num_list):
      if (v > max):
          max = v
          max_index = i
  return max, max_index

In [ ]:
numbers = make_list(0, 10, 5)
print(numbers)
find_max_and_index(numbers)

[6, 7, 1, 2, 2]

(7, 1)

# Default argument(기본 인수)

* 함수를 정의할 때 파라미터에 설정된 기본값.
  * 함수를 호출할 때 파라미터에 값을 전달하지 않으면, 기본값이 사용됨.
  * 함수를 호출할 때 파라미터에 값을 전달하면, 기본값은 무시되고 전달한 아규먼트가 사용됨.
*  **(주의)** 함수를 정의할 때, default argument를 갖는 파라미터들은 반드시 default argument를 갖지 않는 파라미터들 뒤에 선언해야 함
  * 기본값을 갖지 않는 파라미터들을 먼저 선언하고, 기본값을 갖는 파라미터들을 선언해야 함.

In [ ]:
def repeat_message2(msg, n=1):
  for _ in range(n):
      print(msg)

In [ ]:
repeat_message2('??')

??

In [ ]:
repeat_message2('pi', 2)

pi
pi

# argument 전달 방법:

* positional argument: 함수 정의에서 선언된 파라미터 순서대로 아규먼트들을 전달하는 방법.
* keyword argument: `param=value` 형식으로 아규먼트들을 전달하는 방법.
  * keyword argument 방식에서는 파라미터의 순서를 지키지 않아도 됨.
*  **(주의)** 함수 호출할 때 positional 방식과 keyword 방식을 함께 사용하는 경우에는, 반드시 positional argument를 먼저 사용하고, keyword argument는 나중에 사용해야 함.

In [ ]:
def minus(x, y):
    return x - y

In [ ]:
minus(1, 2) # positional argument

minus(x=1, y=2) # keyword argument

minus(y=1, x=2) # keyword argument는 순서(position)를 지키지 않아도 됨.

minus(1, y=2) # 혼용하는 경우에는 keyword argument가 뒤에 위치해야 함.

-1

In [ ]:
minus(x=1, y=2) # keyword argument

-1

In [ ]:
minus(y=1, x=2) # keyword argument는 순서(position)를 지키지 않아도 됨.

1

In [ ]:
minus(1, y=2)

-1

# 가변길이 인수(variable-length argument)

* 함수를 호출할 때, 전달하는 argument의 개수가 임의로 변할 수 있는 것.
  * argument를 전달하지 않아도 됨.
* 함수를 정의할 때 파라미터 이름 앞에 `*`를 사용하면 가변길이 인수를 전달받을 수 있음.
* 함수 내부에서는 가변길이 인수는 튜플로 취급.
  * for-in 반복문 사용 가능.
  * 인덱스 사용 가능.
* **(주의)**
  * 가변길이 인수는 keyword 방식으로는 전달할 수 없음. f(x=1, x=2, x=3)
  * 함수를 정의할 때, 가변길이 인수를 갖는 파라미터는 오직 1개만 선언 가능.

In [ ]:
def add_all(*values):
    total = 0
    for x in values:
        total += x
    return total

In [ ]:
add_all()

0

In [ ]:
add_all(1)

1

In [ ]:
add_all(1,2,3,4,5)

15

가변길이 인수 뒤에 파라미터가 있는 경우, 그 파라미터는 keyword방식으로만 아규먼트를 전달할 수 있음.

In [ ]:
def test(*x, y):
    print(x)
    print(y)

In [ ]:
def keyword_only(*, x, y, z):
    print(f'x={x}, y={y}, z={z}')

In [ ]:
print(1,2,3, sep='-')

1-2-3

In [ ]:
print('hello', end='  ')
print('python')

hello  python

# 가변길이 키워드 인수(variable-length keyword argument)

* 함수를 정의할 때 파라미터 이름 앞에 `**`를 붙임.
* 가변길이 인수: 함수를 호출할 때 전달하는 아규먼트의 개수 제한이 없음.
* keyword argument: 함수를 호출할 때 반드시 `param=value` 형식으로 전달해야 함.
* 함수 내부에서 가변길이 키워드 인수는 dict로 취급함.
* 함수 호출할 때 파라미터 이름은 아무렇게나 전달해도 됨.
* 가변길이 키워드 인수는 함수에서 1개만 사용 가능.

In [ ]:
def test2(**kwargs):
    print(kwargs)

In [ ]:
def make_emp_info(emp_no, emp_name, **kwargs):
    emp = {'emp_no': emp_no, 'emp_name': emp_name}
    for k, v in kwargs.items():
        emp[k] = v

    return emp

In [ ]:
make_emp_info(1, 'king')

{'emp_no': 1, 'emp_name': 'king'}

In [ ]:
make_emp_info(2, '홍길동', email='gildong@test.com', dept='HR')

{'emp_no': 2, 'emp_name': '홍길동', 'email': 'gildong@test.com', 'dept': 'HR'}